<div class="container">
  <div [ngClass]="{'background-clicked': selected}" (click)="selected = !selected" class="card">
    <img
      class="card-image-top"
      (click)="turnOffTrigger(singleTrigger)"
      src="../../assets/exclam.jpg"
      alt="Card image cap"
    />
    <div class="class-title"> {{ singleTrigger.name }}</div>
    <div class="card-body">
      <p>{{ singleTrigger.active }} </p>
      <p>{{ singleTrigger.colour }} </p> 
      <p> {{ singleTrigger.effect }} </p> 
    </div>
  </div>
</div>
