<div class="container">
  <div 
    (click)="selected = !selected" 
    class="">
    <img
      *ngIf="!selected"
      class="card-image-top"
      (click)="turnOffTrigger(singleTrigger)"
      src="../../assets/exclam.jpg"
      alt="Card image cap"
    />
    <img
    *ngIf="selected"
    class="card-image-top"
    (click)="turnOffTrigger(singleTrigger)"
    src="../../assets/exclam-red.jpg"
    alt="Card image cap"
  />
    <div class="class-title"> {{ singleTrigger.name }}</div>
    <div class="card-body">
      <p>Active: {{ singleTrigger.active }} </p>
      <p>Colour: {{ singleTrigger.colour }} </p> 
      <p>Effect: {{ singleTrigger.effect }} </p> 
    </div>
  </div>
</div>
